<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.concordiatec.vic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14"/>
    
    <!-- permissions -->
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name = "android.hardware.camera" />
	<uses-feature android:name = "android.hardware.camera.autofocus" />
	
    <!-- application -->
    <application
        android:icon="@drawable/ic_launcher"
        android:name=".VicApplication"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize">
        
        <!-- activities -->
        <activity android:name=".SplashActivity"  
            android:noHistory="true"
            android:theme="@style/EntranceTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity 
            android:name=".ArticleWriteActivity" 
            android:theme="@style/SubTheme"
            android:windowSoftInputMode="adjustResize" />
        
        <activity 
            android:name=".ChoosePicActivity" 
            android:theme="@style/SubTheme"/>
        
        <activity 
            android:name=".ChoosePicListActivity" 
            android:theme="@style/SubTheme"/>
        
        <activity 
            android:name=".ArticleDetailActivity" 
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/SubTheme" />
        <activity 
            android:name=".LoginActivity" 
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/SubTheme" />
        
        <!-- ActiveAndroid -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="vic" />
		<meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
		    android:name="AA_MODELS"
		    android:value="com.concordiatec.vic.model.User,com.concordiatec.vic.model.LoginAccount" />
    </application>

</manifest>
