<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.concordiatec.vic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- application -->
    <application
        android:name=".VicApplication"
        android:allowBackup="false"
        android:configChanges="orientation|screenSize"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- activities -->
        <!-- 입구 -->
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:theme="@style/EntranceTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 메인 -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <!-- 쓰기 -->
        <activity
            android:name=".ArticleWriteActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SubTheme"
            android:windowSoftInputMode="adjustResize" />
        <!-- 사진선택 -->
        <activity
            android:name=".ChoosePicListActivity"
            android:theme="@style/SubTheme" />
        <!-- 글 수정 -->
        <activity
            android:name=".ArticleEditActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SubTheme"
            android:windowSoftInputMode="adjustResize" />
        <!-- 글 상세 -->
        <activity
            android:name=".ArticleDetailActivity"
            android:theme="@style/SubTheme"
            android:windowSoftInputMode="adjustResize" />
        <!-- 댓글 수정 -->
        <activity
            android:name=".ArticleCommentEditActivity"
            android:theme="@style/SubTheme"
            android:windowSoftInputMode="adjustResize" />
        <!-- 로그인 -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/SubTheme"
            android:windowSoftInputMode="adjustResize" />
        <!-- 회원가입 -->
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/SubTheme"
            android:windowSoftInputMode="adjustResize" />
        <!-- 사용자정보 -->
        <activity
            android:name=".UserActivity"
            android:theme="@style/SubTheme"
            android:windowSoftInputMode="adjustResize" />
        <!-- 사진 찍은 즉시 넘어가는 페이지 -->
        <activity
            android:name=".CameraShowActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/ActionbarOverflowSubTheme" />
        <!-- 글에 있는 이미지 상세 보기 -->
        <activity
            android:name=".ArticleImagesActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ActionbarOverflowSubTheme" />

        <!-- 쿠폰상세 -->
        <activity
            android:name=".CouponDetailActivity"
            android:theme="@style/SubTheme"
            android:windowSoftInputMode="adjustResize" />
        
        <!-- ActiveAndroid -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="vic" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.concordiatec.vic.model.User,com.concordiatec.vic.model.LoginAccount" />
    </application>

</manifest>